@model IEnumerable<prog6212_part3_ST10456157.Models.LecturerClaim>

<h2>Manager Dashboard</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Lecturer</th>
            <th>Total</th>
            <th>Status</th>
            <th>Document</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.ClaimId</td>
                <td>@c.LecturerName</td>
                <td>@(c.HoursWorked* c.HourlyRate)</td>
                <td>@c.Status</td>
                <td>
                    @if (!string.IsNullOrEmpty(c.DocumentName))
                    {
                        <a href="~/uploads/@c.DocumentName" target="_blank">View File</a>
                    }
                </td>
                <td>
                    <form asp-action="Approve" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@c.ClaimId" />
                        <button class="btn btn-primary btn-sm">Approve</button>
                    </form>
                    <form asp-action="Reject" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@c.ClaimId" />
                        <button class="btn btn-warning btn-sm">Reject</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
